# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
bluemath_tk/_version.py

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Django stuff:
*.log
staticfiles/
media/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/logs/
docs/jupyter_execute/
docs/*.pkl
.ruff_cache/
*.rst

# MkDocs documentation (production)
site/
mkdocs.yml
mk-docs/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Local environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local notebooks
notebooks/
test_cases/
test_data/

# Automation
TODO.md
newsletter.py
notion/

# Tests
tests/downloaders/